include ../../_ui/input/input
include ../../_ui/radio/radio
include ../../_ui/button/button

mixin popup(type, id = type)
  .popup.js-popup(data-popup=id)
    .popup__backdrop
    .popup__container
      .popup__wrapper
        .popup__window
          .popup__close.js-close-popup
          if type === 'calc'
            form.popup__calc(action="")
              .row
                .col
                  h2.popup__calc-heading Рассчитайте экономию в нашем калькуляторе
              .row
                .col
                  .popup__calc-group
                    +input('text', 'Сколько у вас машин?', 'cars')
              .row
                .col
                  .popup__calc-group
                    p.popup__calc-label Каких машин больше?
                    .popup__calc-radios
                      +radio('Грузовых', 'type', 'cargo', 'popup__calc-radio', true, true)
                      +radio('Леговых', 'type', 'passenger', 'popup__calc-radio', true, false)
                      +radio('Одинаково', 'type', 'both', 'popup__calc-radio', true, false)
              .row
                .col
                  .popup__calc-group
                    +input('text', 'Среднее потребление на машину:', 'consumption')
              .row
                .col
                  .popup__calc-group
                    p.popup__calc-label Ваша компания платит НДС?
                    .popup__calc-radios
                      +radio('Да', 'vat', 'yes', 'popup__calc-radio', true, true)
                      +radio('Нет', 'vat', 'no', 'popup__calc-radio', true, false)
              .row
                .col
                  .popup__calc-group
                    p.popup__calc-label У вас есть топливные карты?
                    .popup__calc-radios
                      +radio('Да', 'cards', 'yes', 'popup__calc-radio', true, true)
                      +radio('Нет', 'cards', 'no', 'popup__calc-radio', true, false)
              .row
                .col
                  +button('primary', 'submit', 'Рассчитать экономию', 'popup__calc-submit')