mixin footer
  footer.footer.container-fluid
    .wrapper
      .row
        .col
          p.footer__text * Возможность предоставления услуги, срок и сумма определяются по результатам финансового скоринга.<br>** Полный список АЗС, участвующих в акции, уточняйте у наших консультантов. Условия акции действуют в течение всего времени действия договора. Акция действует только для новых клиентов ООО «РЕШЕНО».<br>Политика конфиденциальности и обработки персональных данных