include ../_ui/button/button

mixin header
  header.header.container-fluid
    .header__wrapper.wrapper
      .row
        .col.col-lg-4
          img.header__logo(src="img/logo.svg", alt="")
        .col-8.hide.show-lg
          .header__actions
            p.header__contact 8 (800) 222-06-45
            .header__burger
        .col.hide-lg
          .header__actions
            p.header__contact sales@resheno.ru
            p.header__contact 8 (800) 222-06-45
            +button('secondary', 'link', 'Оставить заявку', '', {link: '#'})