mixin edges
  section.edges.container-fluid
    .edges__wrapper.wrapper
      .row
        .col
          h2.edges__heading Наши преимущества
        .row.row-between
          .col-3.col-lg-12
            .edges__item
              .edges__item-icon(data-icon="cashless")
              h4.edges__item-heading Безналичный расчет
              .edges__item-content
                ul.edges__item-list
                  li.edges__item-list-item Оплата топлива по картам или мобильное приложение
          .col-3.col-lg-12
            .edges__item
              .edges__item-icon(data-icon="economy")
              h4.edges__item-heading Экономия до 30%
              .edges__item-content
                ul.edges__item-list
                  li.edges__item-list-item Возврат 20% НДС
                  li.edges__item-list-item Экономия 10% за счет управления затратами в личном кабинете
          .col-3.col-lg-12
            .edges__item
              .edges__item-icon(data-icon="control")
              h4.edges__item-heading Контроль расходов
              .edges__item-content
                ul.edges__item-list
                  li.edges__item-list-item Установка лимитов на карты
                  li.edges__item-list-item Аналитика затрат
                  li.edges__item-list-item Управление через мобильное приложение
                  li.edges__item-list-item Получение информации о тратах и балансе
        .row.row-between
          .col-3.col-lg-12
            .edges__item
              .edges__item-icon(data-icon="postponement")
              h4.edges__item-heading Отсрочка платежа до 30&nbsp;дней*
              .edges__item-content
                ul.edges__item-list
                  li.edges__item-list-item Отсрочка до 30 дней на сумму до 1 млн ₽
                  li.edges__item-list-item Гибкие условия по кредиту: возможность отсрочки без документов
                  li.edges__item-list-item Моментальное зачисление средств на баланс
                  li.edges__item-list-item Оперативное согласование за 1 день
          .col-3.col-lg-12
            .edges__item
              .edges__item-icon(data-icon="services")
              h4.edges__item-heading Сервисы
              .edges__item-content
                ul.edges__item-list
                  li.edges__item-list-item Личный кабинет с аналитикой
                  li.edges__item-list-item АЗС-локатор
                  li.edges__item-list-item Мобильное приложение
                  li.edges__item-list-item Мойки, шиномонтаж и парковки
                  li.edges__item-list-item ЭДО
          .col-3.col-lg-12
            .edges__item
              .edges__item-icon(data-icon="support")
              h4.edges__item-heading Поддержка и ЭДО
              .edges__item-content
                ul.edges__item-list
                  li.edges__item-list-item Персональный консультант на старте
                  li.edges__item-list-item Клиентская поддержка 24/7
                  li.edges__item-list-item Чат бот
                  li.edges__item-list-item Все отчетные документы доступны в&nbsp;пару кликов
                  li.edges__item-list-item Гарантия от потери документов и бесплатная доставка