mixin about
  section.about.container-fluid
    .about__wrapper.wrapper
      .row.row-middle.row-between.row-stretch-lg
        .col-7.col-lg
          h2.about__heading РЕШЕНО — официальный&nbsp;партнер РЕСО-Гарантия и ВСК
          p.about__desc РЕШЕНО — это ведущая компания в процессинге топливных карт. Более 12 лет на рынке топливных карт. Свыше 43000 клиентов по&nbsp;всей России.<br>Нас выбирают благодаря выгодным условиям и удобным сервисам. Мы знаем, что нужно нашим клиентам.
        .col-4.col-lg
          .about__logos
            img.about__logo(src="img/reso.svg", alt="")
            hr
            img.about__logo(src="img/vsk.svg", alt="")